<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="One.Data.Properties.Settings.ParadiseConnectionString"
            connectionString="Data Source=server01;Initial Catalog=Paradise;Persist Security Info=True;User ID=One;Password=RimiSol.2141"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>