<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="One.Services.Paradise.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=192.168.2.12;User ID=one;Password=Password"
            providerName="System.Data.SqlClient" />
        <add name="One.Services.Paradise.Properties.Settings.one_iGSConnectionString"
            connectionString="Data Source=DESKTOP-6A8R48U;Initial Catalog=one_iGS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="One.Services.Paradise.Properties.Settings.ParadiseConnectionString"
            connectionString="Data Source=DESKTOP-6A8R48U;Initial Catalog=Paradise;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>